* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkBtn {
    height: 40px;
    width: 130px;
    background-color: #c3c7ca;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

#peopleContainer {
    border: 1px solid grey;
    padding: 0;
    list-style-type: none;
}

ul li {
    color:  #34444f;
    font-family: Lato, sans-serif;
    list-style-type: none;
    display: flex;
    flex: 1 1 0%;
}

.number {
    font-family: Lato, sans-serif;
    list-style-type: none;
    background-color: #c3c7ca;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    height: 60px;
    width: 60px;
}

.draggable {
    list-style-type: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 0%;
    padding: 0 15px;
}

ul li.over  {
    background-color: #e6e4e1;
}

.person-name {
    font-family: Lato, sans-serif;
    list-style-type: none;
    cursor: pointer;
}

#peopleContainer li:not(:last-of-type) {
    border-bottom: 1px solid grey;
}

.right p {
    color: green;
}

.wrong p {
    color: red;
}

p {
    margin: 10px;
}




